@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Lobster&display=swap');
/*-----------body--------*/
.home{
    background:url("online-exam.jpg") no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    position: relative;
    
}
.content{
    background-color: black;
    color:#fff;
    padding:1rem;
    font-family: Lobster;
    font-size: xx-large;
}

h2{
    color: blue;
}
a{
    color: white;
}
a:hover{
    font-size: larger;
    color: yellow;
    
}
.outer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    background-size: cover;
    background-position: center;
    
    
}
.endbutton{
    background-color: rgb(171, 243, 201);
    color:#fff;
    padding:0.5rem;
 
    
}
/*--------End of Body---------------------*/

/*--------Footer---------------------*/
footer {
    background: black;
    color:#fff;
    text-align: center;
    font-size: smaller;
    padding-bottom: 20px;
}
/*--------End of Footer---------------------*/
